@* @model Data.Product
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>


    <main id="main" data-aos="fade-up">
        <section id="hero">
            <div class="hero-container">
                <a asp-action="IndexShop" class="hero-logo" data-aos="zoom-in"><img src="/img/hero-logo.png" alt=""></a>
            </div>
        </section><!-- End Hero -->
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Portfoio Details</h2>
                    <ol>
                        <li><a asp-action="IndexShop">Home</a></li>
                        <li>Portfoio Details</li>
                    </ol>
                </div>

            </div>
        </section><!-- End Breadcrumbs -->
        <!-- ======= Portfolio Details Section ======= -->
        <section id="portfolio-details" class="portfolio-details">
            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-8">
                        <div class="portfolio-details-slider swiper">
                            <div class="swiper-wrapper align-items-center">
                                <h4>Product</h4>
                                <hr />
                                <dl class="row">
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Name)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Name)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Description)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Description)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Price)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Price)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Stock)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Stock)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Category)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Category.Description)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.img)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @if (!string.IsNullOrEmpty(Model.img))
                                        {
                                            <img src="@Model.img" alt="Product Image" style="max-width: 200px;" />
                                        }
                                        else
                                        {
                                            <span>No image available</span>
                                        }
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.CreatedAt)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.CreatedAt)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.UpdatedAt)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.UpdatedAt)
                                    </dd>
                                </dl>
                            </div>
                            <div>
                                <a asp-action="Edit" asp-route-id="@Model?.ProductId">Edit</a> |
                                <a asp-action="IndexShop">Back to List</a>

                             


                            </div>
                         
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="portfolio-info">
                            <h3>Project information</h3>
                            <ul>
                                <li><strong>Category</strong>: Web design</li>
                                <li><strong>Client</strong>: ASU Company</li>
                                <li><strong>Project date</strong>: 01 March, 2020</li>
                                <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
                            </ul>
                        </div>
                        <div class="portfolio-description">
                            <h2>This is an example of portfolio detail</h2>
                            <p>
                                Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Portfolio Details Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->


                <footer id="footer">
                    <div class="footer-top">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-6">
                                    <a href="#header" class="scrollto footer-logo"><img src="assets/img/hero-logo.png" alt=""></a>
                                    <h3>Knight</h3>

                                </div>
                            </div>


                        </div>
                    </div>


                </footer><!-- End Footer -->

  
    


</body> *@