@model AdminDashboardViewModel

@{
    Layout = "~/Views/Shared/_LayoutAd.cshtml";
}

<body>
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row align-items-center">
                <div class="col-md-6 col-8 align-self-center">
                    <h3 class="page-title mb-0 p-0">Dashboard</h3>
                    <div class="d-flex align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="col-md-6 col-4 align-self-center">
                    <div class="text-end upgrade-btn">
                        <a href="https://www.wrappixel.com/templates/monsteradmin/"
                           class="btn btn-success d-none d-md-inline-block text-white" target="_blank">
                            Upgrade to Pro
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Sales chart -->
            <!-- ============================================================== -->
           <div class="row">
                <!-- Column -->
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Daily Sales</h4>
                            <div class="text-end">
                                <h2 class="font-light mb-0"><i class="ti-arrow-up text-success"></i> @Model.RevenueSummary.DailyRevenue.ToString("C")</h2>
                                <span class="text-muted">Today's Income</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <!-- Column -->
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="weekly-sales">
                                <h4 class="card-title">Weekly Sales</h4>
                                <div class="text-end">
                                    <h2 class="font-light mb-0"><i class="ti-arrow-up text-info"></i> @Model.RevenueSummary.WeeklyRevenue.ToString("C")</h2>
                                    <span class="text-muted">This Week's Income</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column -->
            </div>
            <!-- ============================================================== -->
            <!-- Sales chart -->
            <!-- ============================================================== -->
          
            <!-- ============================================================== -->
            <!-- Table -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-md-flex">
                                <h4 class="card-title col-md-10 mb-md-0 mb-3 align-self-center">Top Selling Products</h4>
                                
                            </div>
                            <div class="table-responsive mt-5">
                                <table class="table stylish-table no-wrap">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">Ảnh</th>
                                            <th class="border-top-0">Tên sản phẩm</th>
                                            <th class="border-top-0">Đơn giá</th>
                                            <th class="border-top-0">Số lượng bán </th>
                                            <th class="border-top-0">Doanh thu của sản phẩm</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var product in Model.TopSellingProducts)
                                        {
                                            <tr>
                                                <td style="width:100px;">
                                                    <img src="@product.img" alt="Product Image" style="width:100%; height:auto;">
                                                </td>
                                                <td class="align-middle">@product.Name</td>
                                                <td class="align-middle">@product.Price.ToString("C")</td>
                                                <td class="align-middle">@product.Quantity</td>
                                                <td class="align-middle">@product.TotalRevenue.ToString("C")</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
          
            </div>

          
            </div>

        </div>
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</body>
